<section class="px-6 max-w-prose mx-auto gap-8 grid grid-cols-1">
  <header class="flex flex-col h-48 justify-center">
    <p class="text-sm text-gray-400 tracking-wide">Page</p>
    <h1 class="site-title text-4xl leading-relaxed">
      <%- page.title %>
    </h1>
  </header>
  <article class="post-content prose m-auto slide-enter-content dark:prose-invert">
    <%- page.content %>
  </article>
</section>
